@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --bg-color: #f5f5f5;
  --primary-color: #c94451;
  --primary-color-hover: #dd8992;
  --secondary-color: #d6d6d6;
  --text-color: black;
  --borde-color: #edebec;
  --color3: #f4ebef;
  --color4: #7c848c;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--bg-color);
  color: var(--text-color)
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-hover);
}

p {
  font-size: 0.85rem;
}

hr {
  border-top: 1px solid var(--color3);
}

.container {
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 1rem;
}

header .title {
  margin: 0 0 0.5rem;
}

header .subtitle {
  font-weight: bold;
  margin: 0 0 0.5rem;
}

header nav ul {
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
}

header nav ul li {
  list-style-type: none;
  width: 100%;
}

header nav ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a.active {
  background: var(--primary-color);
  color: white;
}

header nav ul li a.active:hover {
  color: var(--secondary-color);
}

header nav ul:first-child a.active {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

section {
  background: white;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

section.featured article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'tag'
    'title'
    'image'
    'content';
}

section.featured article .tag {
  grid-area: tag;
  font-weight: bold;
  color: var(--color4);
  margin-bottom: 0.5rem;
}

section.featured article .title {
  grid-area: title;
  margin: 0;
}

section.featured article .content {
  grid-area: content;
}

section.featured article .image {
  grid-area: image;
  margin: 1rem;
  width: calc(100% - 2rem);
  border: 1px solid var(--borde-color);
  padding: 0.5rem;
}

section.blog article.entry {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

section.blog article.entry .info {
  font-size: 0.85rem;
  padding-right: 2.5rem;
  min-width: 176px;
}

section.blog article.entry .info .comments {
  font-style: italic;
  font-size: 0.75rem;
}

section.blog article.entry .content {
  margin-bottom: 1rem;
}

section.blog article.entry .content h3 {
  margin-top: 0;
}

section.last {
  display: grid;
  grid-template-columns: 1fr;
}

section.last .image {
  width: 100%;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer .social a {
  margin-right: 0.5rem;
}

footer .social img {
  height: 24px;
  width: 24px;
}

footer .copyright {
  font-size: 0.75rem;
  color: var(--color4);
}

@media screen and (min-width: 576px) {
  section.featured article {
    grid-template-columns: auto 40%;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'tag image'
      'title image'
      'content image';
  }

  section.blog article.entry {
    margin: 1rem 0;
    display: flex;
    flex-direction: row-reverse;
  }

  section.last {
    display: grid;
    grid-template-columns: 40% auto;
  }

  section.last .image {
    width: calc(100% - 2rem);
    margin-bottom: 0;
  }
}
